*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.inter{
    font-family: Inter;
}

.Sansita-Swashed{
    font-family: "Sansita Swashed";
}

ul li{
    font-family: Poppins;
    color: #5D5D5D;
    font-weight: 600;
}

section{
    width: 100%;
    height: auto;
}

section, div, h1, h2, h3, h4, h5, button{
    overflow-y: hidden;
}

#top-logo{
    width: 10%;
    height: auto;
    margin-top: 5px;
    margin-left: 5%;
}

#menu-hamburger{
    position: absolute;
    margin-top:-8%;
    margin-left: 90%;
    width: 6%; 
}

#menu {
    top:1%;
    margin-left: 59%;
    position: absolute;
    display: none;
    border-radius: 20px;
    padding: 5px 15px;
    gap: 10px;
    z-index: 2;
    background-color: rgba(60, 60, 60, 0.297);
    color: white;
    transition: all 0.5s ease;
}

#menu.active {
    display: flex;
}

#menu ul li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

#menu a{
    text-decoration: none;
    font-size: clamp(0.8rem, 5vw, 8rem);
}

button:focus{
    transform: scale(1.3);
}

#diff_color{
    color: #E9BD8C;
}


#commander{
    top: 60px;
    margin-bottom: 6%;
}

#img_commander{
    width: 100%;
    height: auto;
    top: 50px;
}

.texte_commander{
    position: absolute;
    margin-top: -45%;
    margin-left: 5%;
}

#cafe_del{
    color: #E9BD8C;
    font-weight: 600;
    font-size: clamp(0.4rem, 4vw, 8rem);
}

#douceurs_saveurs{
    color: #FFFFFF;
    font-weight:400;
    font-size: clamp(0.6rem, 7vw, 8rem);
}

#commander > button{
    width: 30%;
    height: 8.5vw;
    font-family: Inter;
    font-weight: 600;
    font-size: clamp(0.8em, 4vw, 8rem);
    line-height: 100%;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    background: #933C24;
    border: 1px solid #000000;
    border-radius: 4px;
    gap:10px;
    position:absolute;
    margin-top: -20%;
    margin-left: 5%;
}

.img_fond{
    width: 100%;
    height: 100%;
    z-index: -1;
}

#reduc .img_fond, #a_propos .img_fond{
    transform: scale(3);
}

.top_produit{
    width: 90vw;
    height: 90vw;
    margin-left: 5%;
    margin-bottom: -10%;
}

.food-top_produit{
    position: absolute;
    width: 40vw;
    height: auto;
    margin-top: -80%;
    margin-left: 25%;
}

.top_produits-prix{
    position: absolute;
    margin-top: -35%;
    margin-left: 10%;
    color: white;
    font-family: Inter;
    font-size: clamp(0.7rem, 3vw, 8rem);
    font-weight:300px;
}

.top_produits-i{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: -36%;
    margin-left: 70%;
    color: white;
    font-family: Inter;
    font-size: clamp(0.7rem, 4vw, 8rem);
    font-weight: 600;
    border: 1px solid white;
    border-radius: 50px;
    width: 8vw;
    height: 8vw;
    background-color: transparent;
}

.nom-top_produits{
    position: absolute;
    margin-top: -22.5%;
    margin-left: 10%;
    color: white;
    font-family: Inter;
    font-size: clamp(0.7rem, 3vw, 8rem);
    font-weight: 200px;  
}

.top_produits-add{
    width: 20%;
    height: 10vw;
    position: absolute;
    margin-top: -24.5%;
    margin-left: 64%;
    color: white;
    background-color: #933C24;
    border:none;
    border-radius: 4px;
    gap:10px;
    font-family: Inter;
    font-size: clamp(0.7rem, 3vw, 8rem);
    font-weight: 200px; 
}

#baguette_campagne{
    width: 55vw;
    margin-left: 20%;
}

#last-top_prod{
    margin-bottom: -10%;
}

#reduc{
    margin-top: 10%;
    width: 100%;
    height: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15%;
}

#reduc > img{
    margin-top: 0%;
    width: 100%;
    rotate: -180deg;
    z-index: -1;
}

#reduc > div{
    padding-left: 5vw; padding-right:5vw;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:absolute;
    font-size: clamp(1rem, 5vw, 8rem);
    margin-top: -85%;

}

#_reduc{
    color: #933C24;
    font-weight: 500;
}

#offre{
    color: #5D5D5D;
    margin-top: 15%;
    padding-left: 20px; padding-right: 20px;
}

#reduc > button{
    background-color: #933C24;
    border-radius: 8px;
    gap: 10px;
    color: white;
    border: none;
    width: 50vw;
    height: 15vw;
    margin-top: -20%;
    margin-left: -25%;
    font-size: clamp(1rem, 5vw, 8rem);
    position:absolute;
}

#discover {
    margin-top: -10%;
}

#discover h2{
    margin-bottom: 7.5%;
}

#discover ul{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

#discover ul li{
    text-align: center;
    font-size: clamp(0.8rem, 4vw, 2rem);
}

#discover_gateaux{
    border-bottom: #933C24 solid 5px;
    border-radius: 5px;
}

#discover ul{
    margin-left: 20px; margin-right: 20px;
    border-bottom: #D9D9D9 solid 1px;
}

#discover img{
    width: 80%; 
    margin-left: 10%;
    margin-bottom: 7.5%;
}

#a_propos{
    width: 100%;
    height: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: -10%;
}

#a_propos > img{
    margin-top: -50px;
}

#a_propos > div{
    padding-left: 15px; padding-right:15px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: clamp(1rem, 5vw, 8rem);
    margin-top: -80%;
}

#titre-a_propos{
    color: white;
    font-family: "Sansita Swashed";
    font-weight: 600;

    font-size: clamp(1.4rem, 6vw, 9rem);
}

#texte-a_propos{
    color: #B9B9B9;
    font-weight: 400;
    margin-top: 15%;
    padding-left: 5px; padding-right: 5px;
}

#a_propos > button{
    background-color: #933C24;
    border-radius: 8px;
    gap: 10px;
    color: white;
    border: none;
    width: 50vw;
    height: 15vw;
    margin-top: -20%;
    margin-left: -25%;
    font-size: clamp(0.8rem, 5vw, 8rem);
    position: absolute;
    font-weight: 600;
}

#petits_plaisirs{
    margin-top: 5%;
}

.petit_plaisir{
    margin-top: 10%;
    width: 80vw;
    height: 90vw;
    margin-left: 10%;
    font-weight: 600;
}

.image-petit_plaisir{  
    width: 65%;
    margin-left: 10%;
    margin-bottom: 5%;
}

#nom-petit_plaisir{
    margin-top: 5%;
    font-size: clamp(1rem, 5vw, 8rem);
    position: absolute;
}

#prix-petit_plaisir{
    margin-top: 5%;
    position: absolute;
    margin-left: 70%;
    font-size: clamp(1rem, 5vw, 8rem);
}

footer{
    overflow-y: hidden;
    height: 290vw;
    width: 100%;
    margin-top: 10%;
    
}

footer .img_fond{
    transform: scale(10);
}

#logo{
    position: absolute;
    margin-top: -285%;
    margin-left: 35%;
    width: 30%;
    height: auto;
}

h2{
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    display: flex;
    font-family: "Sansita Swashed";
    font-size: clamp(1rem, 8vw, 5rem);
}

h3{
    color: #E9BD8C;
    font-weight: 700;
    font-size: clamp(2rem, 9vw, 10rem);
    position: absolute;
    margin-top: -220%;
    margin-left: 30%;
}

#follow_us h3{
    margin-left: 28%;
    margin-top: -252%;
    font-size: clamp(1.4rem, 7.5vw, 9rem);
}

#reseaux{
    width: 90%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    margin-top: -245%;
    margin-left: 5%;
    border-bottom: #E9BD8C solid 2px;
}

#reseaux img{
    width: 15%;
    height: 15vw;
}

.contacts p{
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    position: absolute;
    margin-top: -205%;
    font-size: clamp(1rem, 4vw, 10rem);
    margin-left: 10%;
}

.explorer h3{
    margin-top: -170%;
}

.explorer a{
    font-size: clamp(1rem, 4vw, 10rem);
    font-family: Poppins;
    color: #FFFFFF;
    font-weight: 600;
    margin-left: 10%;
    position: absolute;
    text-decoration: none;
}

#f_accueil{
    margin-top: -155%;
}

#f_blog{
    margin-top: -145%;
}

#f_contact{
    margin-top: -135%;
}

#f_services{
    margin-top: -125%;
}

.actualites{
    font-family: Poppins;
}

.actualites h3{
    margin-top: -110%;
    margin-left: 27.5%;
}

.actualites img{
    position: absolute;
    margin-top: -95%;
    width: 35%;
    height: auto;
    margin-left: 10%;
}

#pain_au_raisin img{
    margin-top: -65%;
}

.date{
    position: absolute;
    font-weight: 400;
    color: #E9BD8C;
    margin-top: -90%;
    margin-left: 50%;
    font-size: clamp(0.8rem, 3vw, 10rem);

}

.nom-actualites{
    position: absolute;
    font-weight: 500;
    color: white;
    margin-top: -85%;
    margin-left: 50%;
    font-size: clamp(1.2rem, 4.5vw, 10rem);
}

#pain_au_raisin .nom-actualites{
    margin-top: -55%;
}

#pain_au_raisin .date{
    margin-top: -60%;
}

#f_fin{
    position: absolute;
    color: #737373;
    font-weight: 600;
    margin-top: -20%;
    margin-left: 25%;
    margin-right: auto;
    font-size: clamp(1rem, 5vw, 10rem);
}

#tartes-discover{
    display: none;
}

@media only screen and (min-width:575px){



}

@media only screen and (min-width:992px){

#menu{
    margin: 0;
    position: absolute;
    left: 25%;
    top:5%;
    display:flex;
    background-color: transparent;
}

#menu ul{
    display: flex;
    align-items: center;
    gap:30px;
}

#menu a{
    font-size: clamp(0.4rem, 2vw, 5rem);
}

#texte_commander{
    width: 100%;
    height: auto;
    margin-left: 50%;
    margin-bottom: 0;
}

#tartes-discover{
    display: inline;
}

#menu-hamburger{
    display: none;
}

#commander{
    margin-bottom: 100%;
}

#img_commander{
    position: absolute;
    top:0px;
    z-index: -1;
}

#commander button{
    font-size: clamp(1.5rem, 2vw, 8rem);
    width: 25%;
    height: 6vw;
    top:60vw;
}
}